body{
    width: 100%;
    border: 2px solid color(srgb 0.0264 0.0958 0.1204);
    background-color: color(srgb 0.0264 0.0958 0.1204);
}
.navbars{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 0px;
    position: sticky;
    z-index: 10;
}
.navbar{
    display: flex;
    align-items: center;
    margin-left: 100px;
    position: sticky;
    height: 50px;
}
.logo{
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    height: 40px;
    width: 40px;
}
.end{
    margin-left: 200px;
}
.navbar li{
    list-style: none;
    padding: 10px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}
.navbar li a:hover{
    text-decoration: underline;
    color: aqua;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.professor {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.prof-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.info h3 {
    margin-bottom: 10px;
    color: #007BFF;
}

.info p {
    margin-bottom: 5px;
    color: #1a98a8;
}

.info strong {
    color: #333;
}