*{
    margin: 0;
    padding: 0;
}

.page{
    
    width: 100vw;
    border: 2px solid color(srgb 0.0264 0.0958 0.1204);
    background-color: color(srgb 0.0264 0.0958 0.1204);
}
.navbars{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 0px;
    position: sticky;
    z-index: 10;
}
.navbar{
    display: flex;
    align-items: center;
    margin-left: 100px;
    position: sticky;
    height: 50px;
}
.logo{
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    height: 40px;
    width: 40px;
}
.end{
    margin-left: 200px;
}
.navbar li{
    list-style: none;
    padding: 10px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}
.navbar li a:hover{
    text-decoration: underline;
    color: aqua;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 70vw; 
    color: aliceblue;
    margin-top: 10vh;
}
.content h1{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px);
    font-family: "Anta",sans-serif;
    font-size: 50px;
}
.content p{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    font-size: 25px;
}
.btn{
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(5px); */
    margin-top: 5vh;
    height: 45px;
    border-radius: 10px;
    width: 80px;
    /* box-sizing: border-box; */
    transition: transform 0.3s ease;
    /* box-shadow: 1px 1px 0px color(srgb 0.23 0.44 0.51 / 1); */
    margin-left: 8vw;
    cursor: pointer;
    /* border: 2px solid color(srgb 0.23 0.44 0.51 / 1); */
}
.btn:hover{
    transform: translateY(-1px);
    background-color: rgb(210, 226, 226);
}
.long-buttons{
    width: 180px;
    margin-left: 20vw;
}
.section-2{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px);
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    margin-top: 10vh;
    gap: 20px;
    margin-right: 40px;
}
.section-2-button{
    margin-left: 5px;
}
.section-2-img{
    height: 20vh;
    width: 2;
    margin-right: 8px;
}
.mentor-description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    color: white;
    width: 25vw;
    box-shadow: 1px 1px 10px color(display-p3 0.52 0.94 1);
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(11, 58, 63);
    height: 30vh;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(13, 38, 41);
}
.card h4{
    margin-top: 14px;
}
.card-2 h4{
    margin-top: 5px;
}
.card-2 h3{
    margin-top: 14px;
}
.card button{
    margin-top: 20px;
}
.card:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 2px rgba(4, 118, 130, 0.7);
}
.section-3{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: aliceblue;
    height: 20px;
    margin-right: 9vw;
    margin-left: 9vw;
    margin-top: 10vh;
}
.section-4{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: aliceblue;
    display: flex;
    margin-top: 5vh;
    margin-left: 9vw;
}
.section-5{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px);
    background-image: url(./Images/sec5.avif);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 23vw;
    background-position: right;
    border: 2px solid color(srgb 0.1966 0.5303 0.57);
    border-radius: 10px;
    margin-top: 6vh;
    color: white;
    height: 50vh;
    margin-left: 9vw;
    margin-right: 9vw;
    box-shadow: 45vw 0 25vw -23vw color(srgb 0.1966 0.5303 0.57) inset;
    margin-top: 12vh;
}
.section-5 h1{
    margin-top: 3vh;
    width: 25vw;
    margin-left: 20px;
}
.things{
    display: flex;
    margin-top: 5vh;
    margin-left: 10px;
}
.things div{
    width: 15vw;
    margin: 10px;
}
.things div  p{
    font-size: small;

}
.section-5-button{
  margin-left: 15vw;
}
.section-6{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px);
    display: flex;;
    border: 2px solid color(srgb 0.1966 0.5303 0.57);
    border-radius: 10px;
    margin-top: 6vh;
    height: 100vh;
    margin-left: 9vw;
    margin-right: 9vw;
    box-shadow: 45vw 0 25vw -23vw color(srgb 0.1966 0.5303 0.57) inset;
    margin-top: 12vh;
}
.section-6 img{
    height: 70vh;
    width: 30vw;
    margin-top: 15vh;
    margin-left: 40px;
    border-radius: 10px;
}
.section-6 p{
    color: white;
    margin-top: 10vh;
    width: 40vw;
    margin-left: 5vw;
} 

.section-7{
    margin-top: 18vh;
    height: 50vh;
    width: 100%;
    background:linear-gradient(180deg ,color(srgb 0.0264 0.0958 0.1204) 50%,black 50%);
    color: white;
    position: relative;
}
.section-7 span {
    position: absolute; /* Position the paragraph absolutely */
    bottom: 0; /* Align to the bottom of the parent */
    margin: 0;
    left: 10px;
}
.section-7 p {
    position: absolute; /* Position the paragraph absolutely */
    bottom: 0; /* Align to the bottom of the parent */
    margin: 10px;
    right: 10px;
}
.register{
    background-color: aliceblue;
    border-radius: 10px;
    height: 30vh;
    width: 82vw;
    margin-left: 9vw;
    margin-top: 80px;
}